/* Estilos Gerais */
body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    line-height: 1.6;
}



/* Navbar e Logo */
/* Botão de Login */
.navbar-nav .btn {
    color: #333;
    background-color: #ffffff; /* Branco */
    border: 1px solid #ddd;
    padding: 8px 15px;
    text-transform: uppercase;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.navbar-nav .btn i {
    margin-right: 5px; /* Espaço entre o ícone e o texto */
}

/* Hover do botão */
.navbar-nav .btn:hover {
    background-color: #d5006d; /* Roxo */
    border-color: #d5006d; /* Roxo */
    color: #ffffff; /* Texto branco */
}

/* Hero Section */
.hero-video-section {
    background-color: #d5006d; /* Roxo */
    color: #ffffff; /* Texto branco */
    padding: 50px 0; /* Espaçamento superior e inferior */
}

.hero-video-section h1 {
    font-size: 2.5rem; /* Tamanho do título */
    font-weight: bold; /* Negrito */
    margin-bottom: 20px; /* Espaçamento inferior */
}

.hero-video-section p {
    font-size: 1.2rem; /* Tamanho do texto */
    margin-bottom: 30px; /* Espaçamento inferior */
}

.hero-video-section h2 {
    font-size: 1.8rem; /* Tamanho do título do vídeo */
    margin-bottom: 20px; /* Espaçamento inferior */
}

.hero-video-section .btn {
    background-color: #004e92; /* Azul escuro */
    border-color: #004e92; /* Azul escuro */
    color: #ffffff; /* Texto branco */
    padding: 10px 30px; /* Espaçamento interno */
    font-size: 1.2rem; /* Tamanho do texto do botão */
    border-radius: 5px; /* Cantos arredondados */
    text-transform: uppercase; /* Texto em maiúsculas */
}

.hero-video-section .btn:hover {
    background-color: #c82362; /* Cor ao passar o mouse */
    border-color: #c82362; /* Borda ao passar o mouse */
}

#galeria {
    background-color: #f5f5f5; /* Beige */
}

.gallery-item {
    cursor: pointer;
    transition: transform 0.3s ease;
}

.gallery-item:hover {
    transform: scale(1.05);
}

#imagemModal .modal-body {
    max-height: 60vh;
    overflow-y: auto;
}

#imagemModal img {
    max-width: 100%;
    height: auto;
    border: none;
}

#carouselExampleAutoplaying .carousel-item img {
    object-fit: cover;
    height: 400px; /* Ajuste a altura conforme necessário */
    border: none;
}

/* Sobre Section */
#sobre img {
    border: 5px solid #ffc107;
    border-radius: 10px;
}

#sobre h2 {
    color: #d5006d; /* Roxo */
}

/* Conteúdo Section */
#conteudo {
    background-color: #f5f5f5; /* Beige */
}

#conteudo h2 {
    color: #d5006d; /* Roxo */
}

#conteudo ul li {
    margin-bottom: 5px;
}

/* Depoimentos */
#depoimentos h2 {
    color: #004e92; /* Azul escuro */
}

#depoimentos .testimonial {
    background-color: #d5006d; /* Roxo */
    color: #ffffff; /* Texto branco */
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

#depoimentos .testimonial strong {
    display: block;
    margin-top: 10px;
    color: #ffc107; /* Amarelo */
}

/* Inscrição Section */
#inscricao {
    background-color: #111; /* Preto */
    color: #f8f9fa; /* Texto claro */
}

#inscricao h2 {
    color: #ffc107; /* Amarelo */
}

#inscricao .btn {
    background-color: #d5006d; /* Roxo */
    border-color: #d5006d; /* Roxo */
}

#inscricao .btn:hover {
    background-color: #c82362; /* Cor ao passar o mouse */
    border-color: #c82362; /* Borda ao passar o mouse */
}

/* Contato Section */
#contato {
    padding: 50px 0;
}

#contato h2 {
    color: #d5006d; /* Roxo */
}

#contato .form-label {
    color: #333;
}

#contato .btn {
    background-color: #d5006d; /* Roxo */
    border-color: #d5006d; /* Roxo */
    color: #fff; /* Texto branco */
}

#contato .btn:hover {
    background-color: #c82362; /* Cor ao passar o mouse */
    border-color: #c82362; /* Borda ao passar o mouse */
}

#sobre .col-md-6 img {
    border: none; /* Remove qualquer borda */
    border-radius: 0; /* Remove borda arredondada */
}


/* Estilos específicos para o vídeo no mobile */
@media (max-width: 768px) {
    .video-embed {
        object-fit: cover; /* Garante que o vídeo cubra toda a área */
        height: 100vh; /* Faz o vídeo ocupar a altura total da tela */
        width: 100%; /* Faz o vídeo ocupar toda a largura */
    }
}

#video-container {
    width: 100%; /* Garante que o vídeo se ajuste ao tamanho do container */
    max-width: 600px; /* Limita a largura máxima */
    margin: 0 auto; /* Centraliza o vídeo */
}

.video-embed {
    object-fit: cover;
    height: auto; /* Ajusta automaticamente a altura conforme a largura */
    width: 100%; /* Faz o vídeo ocupar toda a largura do container */
}